[Unit]
    Description=Bank
    After=network.target

[Service]
    Environment="LD_LIBRARY_PATH=/home/bank/dict"
    ExecStart=/home/bank/bank_httpd
    WorkingDirectory=/home/bank
    User=bank
    Group=bank
    Restart=on-failure
    RestartSec=3s
    CPUQuota=50%
    MemoryLimit=500M


[Install]
    WantedBy=multi-user.target


