deb http://ru.archive.ubuntu.com/ubuntu/ precise main restricted
deb http://ru.archive.ubuntu.com/ubuntu/ precise-updates main restricted
deb http://ru.archive.ubuntu.com/ubuntu/ precise universe
deb http://ru.archive.ubuntu.com/ubuntu/ precise-updates universe
deb http://ru.archive.ubuntu.com/ubuntu/ precise multiverse
deb http://ru.archive.ubuntu.com/ubuntu/ precise-updates multiverse
deb http://ru.archive.ubuntu.com/ubuntu/ precise-backports main restricted universe multiverse
deb http://security.ubuntu.com/ubuntu precise-security main restricted
deb http://security.ubuntu.com/ubuntu precise-security universe
deb http://security.ubuntu.com/ubuntu precise-security multiverse
deb http://extras.ubuntu.com/ubuntu precise main
deb http://apt.postgresql.org/pub/repos/apt/ precise-pgdg main
deb http://download.virtualbox.org/virtualbox/debian precise contrib
