[Unit]
    Description=Ministry of Love
    After=network.target postgresql.service

[Service]
    ExecStart=/usr/bin/env python3 main.py
    WorkingDirectory=/home/mol
    User=mol
    Group=mol
    PIDFile=/var/run/mol.pid
    Restart=on-failure
    RestartSec=3s
    CPUQuota=50%
    MemoryLimit=500M

[Install]
    WantedBy=multi-user.target
