.idea
*.py[co]
/services/electro/packages
/services/electro/HomomorphicTests/bin
/services/electro/HomomorphicTests/obj
/services/electro/Electro/bin
/services/electro/Electro/obj
/services/electro/ElectroChecker/bin
/services/electro/ElectroChecker/obj

/services/electro/Electro/web/static/inc
/services/electro/Electro/web/static/logos
/services/electro/Electro/web/static/css/turio.css
/services/electro/Electro/web/static/css/unika.min.css
/services/electro/Electro/web/static/img
/services/electro/Electro/web/static/js/theme.js

/services/electro/service/logs
/services/electro/service/state
/services/electro/service/key

/services/electro/service/web/static/logos
/services/electro/service/web/static/css/turio.css
/services/electro/service/web/static/css/unika.min.css
/services/electro/service/web/static/img
/services/electro/service/web/static/inc
/services/electro/service/web/static/js/theme.js


services/hm/server/*.exe
services/hm/server/*.db
services/hm/server/*.txt
services/hm/server/static


