.idea
*.py[co]
services/electro/packages
services/electro/HomomorphicTests/bin
services/electro/HomomorphicTests/obj
services/electro/Electro/bin
services/electro/Electro/obj
services/electro/ElectroChecker/bin
services/electro/ElectroChecker/obj

services/hm/server/*.exe
services/hm/server/*.db
