[Unit]
    Description=TaX
    After=network.target

[Service]
    ExecStart=/usr/bin/node /home/tax/app.js
    WorkingDirectory=/home/tax
    User=tax
    Group=tax

[Install]
    WantedBy=multi-user.target
