<!DOCTYPE html>
<html>
<% include blocks/head.ejs %>
<body class="service-page" data-spy="scroll" data-target="#main-navbar">
<% include blocks/b_head.ejs %>
<section class="main-block" data-stellar-background-ratio="0.5">
    <div class="container">
        <div class="caption">


            <div class="row">
                <div class="col-sm-2 center-block">
                    <a href="/">
                        <img src="/static/logos/tax.png" class="logo img-responsive">
                    </a>
                </div>
                <div class="col-sm-8 content-block">
                    <h3>Upload your tax declaration</h3>
                    <div class="well">
                        <p>Select your personal data and upload tax declaration.</p>
                        <p>Go to the <a href="<%= resolve('user') %>">profile page</a>  to fill in personal data.</p>
                    </div>

                    <form action="<%= resolve('upload') %>" method="post" enctype="multipart/form-data" class="form">
                        <div class="form-group">
                            <select name="pdata" class="form-control">
                                <% for (var i in datalist) { var data = datalist[i]; %>
                                <option value="<%= data._id %>"><%= data.name %></option>
                                <% } %>
                            </select>
                        </div>
                        <div class="form-group">
                            <input type="file" name="file" multiple class="form-control">
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-default">Upload</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<% include blocks/b_footer.ejs %>
</body>
</html>
