<!DOCTYPE html>
<html>
<% include blocks/head.ejs %>
<body>
<% include blocks/b_head.ejs %>
<div class="content">
    <h1>Ok</h1>

    <div><strong><%= pdata.name %></strong>: <%= pdata.private %></div>
    <div><a href="<%= file %>">uploaded tax declaration</a></div>
</div>
<% include blocks/b_footer.ejs %>
</body>
</html>
