<!DOCTYPE html>
<html>
<% include blocks/head.ejs %>
<body class="service-page" data-spy="scroll" data-target="#main-navbar">
<% include blocks/b_head.ejs %>
<section class="main-block" data-stellar-background-ratio="0.5">
    <div class="container">
        <div class="caption">


            <div class="row">
                <div class="col-sm-2 center-block">
                    <a href="/">
                        <img src="/static/logos/tax.png" class="logo img-responsive">
                    </a>
                </div>
                <div class="col-sm-8 content-block">
                    <h1>OK, we uploaded your file!</h1>

                    <div class="well">
                        <p><strong><%= pdata.name %></strong>: <%= pdata.private %></p>
                        <p>Click <a href="<%= file %>">here</a> to download just uploaded declaration.</p>
                    </div>
                </div>
            </div>


        </div>
    </div>
</section>
<% include blocks/b_footer.ejs %>
</body>
</html>
