[Unit]
    Description=HM
    After=network.target

[Service]
    ExecStart=/home/hm/server/server
    WorkingDirectory=/home/hm/server
    User=hm
    Group=hm
    Restart=on-failure
    RestartSec=3s
    CPUQuota=50%
    MemoryLimit=500M

[Install]
    WantedBy=multi-user.target

