/* For disabling logo.png in brand replace this */
.navbar-default .navbar-brand {
    background-image: url(../img/turio.png);
    width: 250px;
}
/* to this
.navbar-brand {background: none !important; width: auto !important; text-indent: 0 !important; letter-spacing: 2px !important;margin-left:0px !important;}
.navbar-default .navbar-brand {background-image: none !important;}
*/


/* This is for carousel background */
.parallax {
    background-image: url(../img/2.jpg);
}
