.service-page {
    color: #555;
}

/* Navigation */
.home-page .navbar-default .navbar-brand {
    background-image: url(../img/turio.png);
    width: 250px;
}

.service-page .navbar-brand {
    background: none !important;
    width: auto !important;
    text-indent: 0 !important;
    letter-spacing: 2px !important;
    margin-left:0px !important;
}

.service-page .navbar-default .navbar-brand {
    background-image: none !important;
}

.navbar .container {
    padding: 0px;
}

/* Main block */
.main-block {
    position: relative;
    height: 100%;
}

.home-page .main-block {
    background-position:0 0;
    background-attachment:fixed;
    -webkit-background-size:cover;
    background-size:cover;
    background-image: url(../img/background.jpg);
}

/* Container */
.container {
    height: 100%;
}

.container .caption {
    margin-top: 100px;
    padding-bottom: 50px;
}

.home-page .container .caption {
    position: relative;
    top: 50%;
    margin-top: -70px;
}

/* Content block */
.content-block {
    padding-left: 70px;
}

.center-block img.logo {
    display: block;
    margin: auto;
}

.btn-default.disabled,
.btn-default.disabled.active,
.btn-default.disabled.focus,
.btn-default.disabled:active,
.btn-default.disabled:focus,
.btn-default.disabled:hover,
.btn-default[disabled],
.btn-default.active[disabled],
.btn-default.focus[disabled],
.btn-default[disabled]:active,
.btn-default[disabled]:focus,
.btn-default[disabled]:hover,
fieldset[disabled] .btn-default,
fieldset[disabled] .btn-default.active,
fieldset[disabled] .btn-default.focus,
fieldset[disabled] .btn-default:active,
fieldset[disabled] .btn-default:focus,
fieldset[disabled] .btn-default:hover {
    background-color: #363940; /* Fix #fff background-color */
}

/* Links */
a {
    text-decoration: underline;
}

#header a,
.navbar a,
a.btn {
    text-decoration: none;
}

a:hover,
a:focus,
a:active {
    color: #336;
    text-decoration: none;
}

.btn-blank {
    text-decoration: none;
}

.main-page-link {
    margin-right: 20px;
    position: relative;
    top: -2px;
}

.well {
    background: transparent none repeat scroll 0% 0%;
    border: 1px solid #ddc !important;
    box-shadow: none;
    border-radius: 5px !important;
    border-left: 6px solid #2F49BB !important;
}