<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>TaX &bull; Turio &bull; RuCTFE 2015</title>
    <meta name="description" content="Ministry of Taxes" />
    <meta name="author" content="Hackerdom team, hackerdom.ru, Pavel Blinov aka pahaz and Victor Samun aka victor" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,700,500' rel='stylesheet' type='text/css' />
    <link href='http://fonts.googleapis.com/css?family=Lato:300,400' rel='stylesheet' type='text/css' />
    <link rel="stylesheet" href="/static/inc/bootstrap/css/bootstrap.min.css" />

    <link rel="stylesheet" href="/static/css/unika.min.css" />
    <link rel="stylesheet" href="/static/css/turio.css" />
    <link rel="stylesheet" href="/static/css/tax.css" />

</head>