<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>TaX &bull; Turio &bull; RuCTFE 2015</title>
    <meta name="description" content="">
    <meta name="author" content="Hackerdom team, hackerdom.ru, victor">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,700,500' rel='stylesheet' type='text/css'> <!-- Body font -->
    <link href='http://fonts.googleapis.com/css?family=Lato:300,400' rel='stylesheet' type='text/css'> <!-- Navbar font -->
    <link rel="stylesheet" href="/static/inc/bootstrap/css/bootstrap.min.css">

    <link rel="stylesheet" href="/static/css/unika.min.css">
    <link rel="stylesheet" href="/static/css/turio.css">
    <style>
        body {
            padding: 0;
            margin: 0;
            font: 14px Helvetica, Arial;
        }

        .content {
            padding: 0 50px;
        }

        input {
            display: block;
            width: 100%;
            border: none;
            height: 35px;
            border-bottom: 2px solid #000000;
            margin: 10px 0;
            padding: 0;
            outline: none;
        }

        textarea {
            display: block;
            border: solid 2px;
            width: 100%;
        }

        select {
            display: block;
            width: 100%;
            padding: 10px;
            border: solid 2px #000;
        }

        a {
            color: black;
        }
    </style>

</head>
