[Unit]
    Description=Electro
    After=network.target

[Service]
    ExecStart=/usr/bin/mono /home/electro/service/Electro.exe
    WorkingDirectory=/home/electro/service
    User=electro
    Group=electro
    Restart=on-failure
    RestartSec=3s
    CPUQuota=50%
    MemoryLimit=500M

[Install]
    WantedBy=multi-user.target


