{{ define "content" }}
	<h1>Health Monitor</h1>
	<p>
		Track your health metrics and keep fit!
	</p>
	<div class="extra-space-l"></div>
	{{if .LoggedIn}}	
		<div class="extra-space-l">Welcome to our service that helps you to track your everyday health metrics, your physical activity and save them forever!</div>
		<div class="extra-space-l">Click MY METRICS to see the metrics you've added and ADD METRICS to add new ones.</div>
	{{else}}
		<a class="btn btn-default btn-lg" href="/loginform" role="button">Login!</a>
	{{end}}
{{ end }}